{% extends "layouts/default.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        <li>{{ mask.store }}</li>
        <li>{{ mask.status }}</li>
        <li>最終投稿日時：{{ mask.update_at }}</li>
        <li>{{ mask.difference }}日以上前のデータです</li>
    </ul>
    <p>
        <a href="/masks/update/{{ mask.id }}/">在庫状況を更新する</a><br>
        <a href="/masks/list/">在庫状況一覧に戻る</a>
        <form action="/masks/delete/{{ mask.id }}/" method="post">
            {% csrf_token %}
            <button type="submit">削除</button>
        </form>
    </p>
{% endblock %}