{% load static %}
<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, viewport-fit=cover">
        <title>利用規約</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/html5reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/rule_page.css' %}" />
    </head>
    <body>
        <h1>在庫状況シェアマッピング『“アレ”、ある？』利用規約</h1>
        <p>この規約（以下「本規約」といいます。）は、「在庫シェアマッピング『“アレ”、ある？』」（以下「当サイト」といいます。）の利用に関する条件を、当サイトと当サイトのサービス利用者（以下「利用者」といいます。）との間で定めるものです。利用者は、予め本規約に同意した上で、当サイトを利用するものとします。<br>
            なお、当サイトはあくまでもサンプルであり、当サイトのサービス（以下「本サービス」といいます。）によって提供される情報及びその内容について保証するものではありません。
        </p>
        
        <h2>「在庫シェアマッピング『“アレ”、ある？』」の目的</h2>
        <p>
            当サイトは、利用者が投稿した各店舗の商品在庫状況を公開することで、他の当サイト閲覧者が、該当商品の取扱店舗を選ぶ際の参考として活用していただくことを主な目的としています。
        </p>
        
        <h2>他社サービスの利用について</h2>
        <p>
            当サイトでは、グーグル合同会社が提供する外部サービスを利用しており、利用者が投稿した在庫状況は、操作性、セキュリティなどのサービスの品質および利便性の向上のために、当社およびグーグル合同会社によって使用されることがあり、利用者はこのことに同意した上で本サービスを利用するものとします。<br>
            なお、詳細については、「<a href="https://policies.google.com/technologies/partner-sites?hl=ja">ユーザーが Google パートナーのサイトやアプリを使用する際の Google によるデータ使用</a>」を確認してください。
        </p>
        
        <h2>免責事項</h2>
        <p>
            本サービスに起因して利用者に生じたあらゆる損害について、当サイトは一切の責任を負いません。<br>
            利用者は、利用者ご自身の責任において本サービスを利用するものとし、本サービスにおいて行った一切の行為およびその結果について一切の責任を負うものとします。
        </p>
        <dl>
            <dt>１．店舗情報</dt>
            <dd>
                当サイトは、掲載された店舗に関する情報によってお客様に生じた損害や、お客様同士のトラブル等について、いかなる保証もいたしません。
            </dd>
            
            <dt>２．投稿内容</dt>
            <dd>
                当サイトは、掲載された投稿内容に関していかなる保証もいたしません。お客様のご判断でご利用ください。
            </dd>
            
            <dt>３．地図情報</dt>
            <dd>
                当サイトは、掲載された店舗の所在地にかかる地図情報に関してはいかなる保証もいたしません。なお、地図情報はGoogle Inc.より提供され、Google Inc.にて定めるTerms of Use及びプライバシーポリシーが適用となります。
            </dd>
            
            <dt>４．リンク先サイト</dt>
            <dd>
                当サイトからリンクされた第三者が運営するサイトに関して、当サイトはいかなる保証もいたしません。お客様のご判断でご利用ください。
            </dd>
        </dl>
 
        <p class="date">令和５年８月１６日</p>
    </body>
</html>