{% load static %}
<!DOCUTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, viewport-fit=cover">
        <link rel="stylesheet" type="text/css" href="{% static 'css/html5reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/update_page.css' %}" />
        <title>{{ title }}</title>
    </head>
    
    <body>
        <h1>{{ title }}</h1>
        <p>当てはまる在庫状況のボタンを押してください</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" style="background:blue" class="btn" name="status" value="在庫あり">在庫あり（目安：在庫数１０個以上）</button>
            <button type="submit" style="background:yellow" class="btn" name="status" value="在庫少なめ">在庫少なめ（目安：在庫数１０個未満）</button>
            <button type="submit" style="background:red" class="btn" name="status" value="在庫無し">在庫無し</button>
            <button type="submit" style="background:gray" class="btn" name="status" value="不明">不明</button>
        </form>
        <div>
        <a href="/masks/rule/">利用規約</a>をご確認ください</a><br>
        <a href="/masks/">トップページ</a>に戻る
        </div>
    </body>
</html>